<app-header-buttons
  [backUrl]="backUri"
></app-header-buttons>

<ion-content>
  <div class="principal col-md-6 col-xl-12 mr-auto mb-4">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="card-body mx-2 mt-2">
          <h1>Confirmación de correo</h1>

            <p class="text-center">Introduce el código que se te envio a tu correo electrónico</p>


        <div class="row px-5">
          <div class="col px-1">
            <input type="tel" maxlength="1" formControlName="code1" #i1 (click)="setInputFocus(i1)" (keyup)="$event.key === 'Backspace' ? true : setInputFocus(i2)" class="form-control text-center">
          </div>
          <div class="col px-1">
            <input type="tel" maxlength="1" formControlName="code2" #i2 (click)="setInputFocus(i2)" (keyup)="$event.key === 'Backspace' ? setInputFocus(i1) : setInputFocus(i3)" class="form-control text-center">
          </div>
          <div class="col px-1">
            <input type="tel" maxlength="1" formControlName="code3" #i3 (click)="setInputFocus(i3)" (keyup)="$event.key === 'Backspace' ? setInputFocus(i2) : setInputFocus(i4)" class="form-control text-center">
          </div>
          <div class="col px-1">
            <input type="tel" maxlength="1" formControlName="code4" #i4 (click)="setInputFocus(i4)" (keyup)="$event.key === 'Backspace' ? setInputFocus(i3) : setInputFocus(i5)" class="form-control text-center">
          </div>
          <div class="col px-1">
            <input type="tel" maxlength="1" formControlName="code5" #i5 (click)="setInputFocus(i5)" (keyup)="$event.key === 'Backspace' ? setInputFocus(i4) : setInputFocus(i6)" class="form-control text-center">
          </div>
          <div class="col px-1">
            <input type="tel" maxlength="1" formControlName="code6" #i6 (click)="setInputFocus(i6)" (keyup)="$event.key === 'Backspace' ? setInputFocus(i5) : true" class="form-control text-center">
          </div>
        </div>

        <ion-item [hidden]="!showEmail" class="mt-4 txtInput">

          <ion-label position="floating">*Correo</ion-label>

          <ion-input
            [clearInput]="true"
            type="email"
            formControlName="email"
            placeholder="correo@dominio.com"
          ></ion-input>

        </ion-item>

        <div class="d-flex flex-row-reverse mt-3" >
          <ion-button expand="full"type="submit">ACEPTAR</ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
