<ion-content class="m-0 p-0">
  <app-generic-list
    [title]="'Uso de cinturón'"
    [descrciption]="'Contabiliza automovilistas con y sin cinturón de seguridad, también asientos para infantes.'"
    [type]="2"
    [listObservable]="listObservable"
    [create]="onNewAuditory"
    [editGeneral]="onEdit"
    [editValues]="onDetail"
    [delete]="onDelete"
    [detail]="onRemoteDetail"
    [upload]="onUpload"
  ></app-generic-list>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col >
      <button class="btn custom-black-btn" [disabled]="!sendedList" (click)="fetchLocalList()">Sin Enviar</button>
    </ion-col>

    <ion-col>
      <button class="btn custom-black-btn" [disabled]="sendedList" (click)="fetchRemoteList()">Enviadas</button>
    </ion-col>
  </ion-row>
</ion-footer>
