<ion-content class="center">
  <app-header-buttons
    backUrl="/login"
    homeUrl="/login"
  ></app-header-buttons>
  <!-- <div class="d-flex flex-row-reverse mt-3 me-3" >
    <ion-back-button hidden defaultHref="/login"></ion-back-button>
    <ion-button size="small" (click)="onGoingLogin()">
      <ion-icon slot="icon-only" name="home-sharp"></ion-icon>
    </ion-button>
  </div> -->

  <div class="principal col-md-6 col-xl-12 mr-auto mb-4">
   
  <form (ngSubmit)="onChangePwd(formChange)" #formChange="ngForm">
    <div class="card-body mx-2 mt-2">
        <h1>Cambiar Contraseña</h1>
          <ion-item class="mt-4 txtInput">
            <ion-label position="floating">Nueva Contraseña</ion-label>
            <ion-input [clearInput]="true"
                        type="password"
                        name="newpwd"
                        #newpwd="ngModel"
                        [(ngModel)]="user.newpwd"
                        placeholder="email@domain.com" 
                        required>
            </ion-input>
          </ion-item>

          <ion-item  class="mt-2 txtInput">
            <ion-label position="floating">Repita la Nueva Contraseña</ion-label>
            <ion-input [clearInput]="true"
                        type="password"
                        name="repeatnewpwd"
                        #repeatnewpwd="ngModel"
                        [(ngModel)]="user.repeatnewpwd"
                        required>
            </ion-input>
          </ion-item>
          <div class="d-flex flex-row-reverse mt-3" >
            <ion-button expand="full"type="submit">GUARDAR</ion-button>
          </div>
    </div>
    </form>
  </div>
</ion-content>
