<ion-content>
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 col-xxl-3 offset-xxl-auto mr-auto mb-4">

    <div class="mx-5">

      <button class="btn custom-white-btn mt-4" (click)="onGoingHome()">
        <i class="fa-solid fa-arrow-left" style="font-size: 15spx;"></i>
      </button>

       <div class="row mt-4">
          <div class="col">
            <div class=" mb-0 title-text-size">Mis Datos</div>

            <p class="text text-mini coolor mt-0">Actualiza tus datos</p>
          </div>
        </div>

      <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-with-icon mt-4">

          <input
            name="name"
            formControlName="name"
            type="text"
            placeholder="*Nombre Completo"
            class="form-control py-3 px-4"
            [ngClass]="{ 'border-danger': formSubmited && form.controls['name'].invalid }"
          >
            <i class="fa-regular fa-user"></i>
        </div>

        <span
          *ngIf="formSubmited && form.controls['name'].invalid"
          class="text-danger text-mini"
        >Nombre requerido</span>

        <div class="input-with-icon mt-3">

          <input
            name="phoneNumber"
            formControlName="phoneNumber"
            type="tel"
            placeholder="*Teléfono"
            class="form-control py-3 px-4"
          >
            <i class="fa-solid fa-phone"></i>
        </div>

        <span
          *ngIf="formSubmited && form.controls['phoneNumber'].invalid"
          class="text-danger text-mini"
        >Teléfono requerido</span>

        <ion-row *ngIf="ImageSafeSrc" class="mt-3">
          <ion-col>
            <img width="100%"  [src]="ImageSafeSrc">
          </ion-col>
        </ion-row>

        <ion-row class="mt-3">
          <ion-col>
            <button (click)="onSelectPhoto()" class="btn custom-btn text-white" type="button">
              {{!ImageSafeSrc ? 'Seleccionar logo' : 'Cambiar logo'}}
            </button>
          </ion-col>
        </ion-row>

        <ion-row class="mt-3">
          <ion-col>
            <button class="btn custom-btn text-white" type="submit">
              Guardar
            </button>
          </ion-col>
        </ion-row>
      </form>


    </div>
  </div>
</ion-content>
