
<ion-content class="center"> 
  <div class="col-md-6 col-xl-12 mr-auto mb-4 mt-4">
    <h1>Módulos</h1>
    <div class="d-flex flex-row-reverse mt-3 mr-auto" (click)="onLogout()">
      <ion-label color="tertiary txt-pwd">Salir </ion-label>
    </div>
    <!-- <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Creado: 03 de Enero 2023</ion-card-subtitle>
        <ion-card-title><strong>Auditoria</strong></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Una pequeña descripción de este tipo de Encuenta
      </ion-card-content>
      <ion-button shape="round" routerLink="/registro">Nueva</ion-button>
      <ion-button fill="clear">Ver &nbsp;<ion-badge color="warning" slot="end" >4</ion-badge></ion-button>
    </ion-card> -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Creado: 02 de Diciembre 2022</ion-card-subtitle>
        <ion-button class="btn-right" fill="outline" >Ver &nbsp;<ion-badge color="warning" slot="end" >5</ion-badge></ion-button>
        <ion-button class="btn-right" routerLink="/registro">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <ion-card-title><strong>Auditoria</strong></ion-card-title>
      </ion-card-header>
      <!-- <ion-card-content>
        Esta encuesta contiene información de primera mano
      </ion-card-content> -->
    </ion-card>
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Creado: 03 de Diciembre 2022</ion-card-subtitle>
        <ion-button class="btn-right" fill="outline" >Ver &nbsp;<ion-badge color="warning" slot="end" >11</ion-badge></ion-button>
        <ion-button class="btn-right" routerLink="/registro">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <ion-card-title><strong>Velocidad</strong></ion-card-title>
      </ion-card-header>
      <!-- <ion-card-content>
        Esta encuesta contiene información de primera mano
      </ion-card-content> -->
    </ion-card>
  </div>

  

</ion-content>
