<ion-content [color]="'white'" class="bg-white ">
  <div class="bg-white m-0 p-0 h-100">

    <div class="bg-white  col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 col-xxl-3 offset-xxl-auto mr-auto mb-4">

      <div class="mx-5 bg-white ">
        <button class="btn custom-white-btn mt-4" (click)="onCancel()">
          <i class="fa-solid fa-circle-arrow-left" style="font-size: 35px;"></i>
        </button>

        <div class="row mt-3 bg-white ">
          <div class="col">
            <!-- <div class=" mb-0 title-text-size">{{ title }}</div> -->
            <div class=" mb-0 title-text-size">Conteo de cascos</div>

            <p class="text text-mini coolor mt-0">Ubicado en un cruce específico, indique la cantidad de personas con y sin casco.</p>
          </div>
        </div>


        <p class="text text-center mt-3">Con Casco</p>

        <div class="row  m-0 p-0">
          <div class="col text-center m-0 p-0">
              <button (click)="decreaseHelmets()" [disabled]="disableHelmetDecrease" class="btn custom-white-btn">
                  <i class="fa-solid fa-circle-minus" style="font-size: 50px;"></i>
                </button>
          </div>
          <div class="col text-center title-text-size pt-3">
            {{ helmetCount }}
          </div>
          <div class="col text-center  m-0 p-0">
              <button (click)="increaseHelmets()" class="btn custom-white-btn">
                  <i class="fa-solid fa-circle-plus" style="font-size: 50px;"></i>
                </button>
          </div>
        </div>

        <p class="text text-center mt-5 pt-3">Sin Casco</p>

        <div class="row  m-0 p-0 mb-5 pb-5">
          <div class="col text-center m-0 p-0">
              <button (click)="decreaseUsers()" [disabled]="disableUserDecrease" class="btn custom-white-btn">
                  <i class="fa-solid fa-circle-minus" style="font-size: 50px;"></i>
                </button>
          </div>
          <div class="col text-center title-text-size pt-3">
            {{ helmetlessCount }}
          </div>
          <div class="col text-center  m-0 p-0">
              <button (click)="increaseUsers()" class="btn custom-white-btn">
                  <i class="fa-solid fa-circle-plus" style="font-size: 50px;"></i>
                </button>
          </div>
        </div>

        <div class="my-5"></div>

        <ion-row class="mt-5">
          <ion-col>

            <div class="text-center d-grid gap-2">

              <button
                class="btn custom-yellow-btn"
                (click)="onSubmit()"
              >Guardar</button>
            </div>

          </ion-col>
        </ion-row>

      </div>

    </div>
  </div>


</ion-content>
