<ion-content class="center">
  <app-header-buttons
    backUrl="/login"
    homeUrl="/login"
  ></app-header-buttons>

  <div class="principal col-md-6 col-xl-12 mr-auto mb-4">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-body mx-2 mt-2">
        <h1>Generar código</h1>

        <p class="text-center">Enviaremos un código a tu correo</p>

        <ion-item class="mt-4 txtInput">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input
            [autofocus]="true"
            [clearInput]="true"
            [autocomplete]="true"
            formControlName="email"
            type="email"
            placeholder="correo@dominio.com">
          </ion-input>
        </ion-item>

        <div class="d-flex flex-row-reverse mt-3 me-3">
          <ion-label color="tertiary txt-pwd" (click)="alreadyHadCode()">Ya tengo un código</ion-label>
        </div>

        <div class="row mt-5">
          <div class="col">
            <ion-button color="danger" expand="full" (click)="onGoingHome()">
              CANCELAR
            </ion-button>
          </div>
          <div class="col">
            <ion-button expand="full"type="submit">
              CONTINUAR
            </ion-button>
          </div>
        </div>

      </div>
    </form>
  </div>
</ion-content>
