<ion-content class="center">
  <app-header-buttons
    backUrl="/login"
    homeUrl="/login"
  ></app-header-buttons>

  <div class="principal col-md-6 col-xl-12 mr-auto mb-4">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-body mx-2 mt-2">
        <h1>Generar código</h1>

        <ion-label>Para obtener un código de verificación, introduce tu dirección de correo eléctronico</ion-label>
          <ion-item class="mt-4 txtInput">  
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input
              [autofocus]="true"
              [clearInput]="true"
              [autocomplete]="true"
              [inputmode]="'email'"
              [pattern]="'email'"
              formControlName="email"
              type="email"
              placeholder="email@domain.com">
            </ion-input>
          </ion-item>

          <div class="row mt-5">
            <div class="col">
              <ion-button color="danger" expand="full" (click)="onGoingHome()">
                CANCELAR
              </ion-button>
            </div>
            <div class="col">
              <ion-button [disabled]="submitLoading" expand="full"type="submit">
                CONTINUAR
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!submitLoading"></span>
              </ion-button>
            </div>
          </div>
    </div>
    </form>
  </div>
</ion-content>
