<ion-content>

  <div class="row mt-2 mx-0">
    <div class="col">
      <ion-button size="small" (click)="onGoingBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="col text-end">
      <ion-button id="c1" size="small">
        <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
      </ion-button>
      <ion-popover trigger="c1" [dismissOnSelect]="true" triggerAction="click">
        <ng-template>
          <ion-content>
            <ion-list lines="none">
              <ion-item button (click)="downloadPdf()">
                <ion-label>Descargar PDF</ion-label>
              </ion-item>
              <ion-item button (click)="downloadCsv()">
                <ion-label>Descargar CSV</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>
  </div>

  <div class="mx-2 mt-4">
    <h1>{{ auditoryTitle }}</h1>

    <p class="mt-4" *ngIf="auditoryDate"><strong>Fecha:</strong> {{ auditoryDate }} {{ auditoryTime }}</p>
    <p *ngIf="auditoryDescription"><strong>Descripción:</strong> {{ auditoryDescription }}</p>

    <p>
      <strong>Ubicación:</strong>
      <app-map></app-map>
    </p>

    <p *ngIf="auditoyrEvidences.length > 0">
      <strong class="mt-2">Fotografías del entorno:</strong>
      <img width="100%" *ngFor="let url of auditoyrEvidences" class="mb-2" [src]="url">
    </p>

    <div class="row" *ngIf="counts[0]">
      <div class="col-12 p-4">

      <ion-item class="mt-2 txtInput ion-no-padding ion-no-margin">
        <ion-label>
          <h2 class="text-start ps-2">{{ names[0] }}: {{ counts[0].count1 }} </h2>
        </ion-label>
      </ion-item>

      <ion-item class="mt-2 txtInput ion-no-padding ion-no-margin">
        <ion-label>
          <h2 class="text-start ps-2">{{ names[1] }}: {{ counts[0].count2 }} </h2>
        </ion-label>
      </ion-item>

      <ion-item class="mt-2 txtInput ion-no-padding ion-no-margin">
        <ion-label>
          <h2 class="text-start ps-2">{{ names[2] }}: {{ counts[0].count3 }} </h2>
        </ion-label>
      </ion-item>

      <ion-item class="mt-2 txtInput ion-no-padding ion-no-margin">
        <ion-label>
          <h2 class="text-start ps-2">{{ names[3] }}: {{ counts[0].count4 }} </h2>
        </ion-label>
      </ion-item>

      <ion-item class="mt-2 txtInput ion-no-padding ion-no-margin">
        <ion-label>
          <h2 class="text-start ps-2">{{ names[4] }}: {{ counts[0].count5 }} </h2>
        </ion-label>
      </ion-item>

      <ion-item class="mt-2 txtInput ion-no-padding ion-no-margin">
        <ion-label>
          <h2 class="text-start ps-2">{{ names[5] }}: {{ counts[0].count6 }} </h2>
        </ion-label>
      </ion-item>

      <ion-item class="mt-2 txtInput ion-no-padding ion-no-margin">
        <ion-label>
          <h2 class="text-start ps-2">{{ names[6] }}: {{ counts[0].count7 }} </h2>
        </ion-label>
      </ion-item>

      <ion-item class="mt-2 txtInput ion-no-padding ion-no-margin">
        <ion-label>
          <h2 class="text-start ps-2">{{ names[7] }}: {{ counts[0].count8 }} </h2>
        </ion-label>
      </ion-item>

      <ion-item class="mt-2 txtInput ion-no-padding ion-no-margin">
        <ion-label>
          <h2 class="text-start ps-2">{{ names[8] }}: {{ counts[0].count9 }} </h2>
        </ion-label>
      </ion-item>

      <ion-item class="mt-2 txtInput ion-no-padding ion-no-margin">
        <ion-label>
          <h2 class="text-start ps-2">{{ names[9] }}: {{ counts[0].count10 }} </h2>
        </ion-label>
      </ion-item>

      <ion-item class="mt-2 txtInput ion-no-padding ion-no-margin">
        <ion-label>
          <h2 class="text-start ps-2">{{ names[10] }}: {{ counts[0].count11 }} </h2>
        </ion-label>
      </ion-item>

      <ion-item class="mt-2 txtInput ion-no-padding ion-no-margin">
        <ion-label>
          <h2 class="text-start ps-2">{{ names[11] }}: {{ counts[0].count12 }} </h2>
        </ion-label>
      </ion-item>

    </div>
  </div>


  </div>

</ion-content>
