<ion-content >
  <app-header-buttons
    [backUrl]="backUrl"
    homeUrl="/home"
  ></app-header-buttons>

  <div class="mx-2 mt-4">
    <h1>Ingrese su registro</h1>
  </div>

  <div class="mx-2 ion-text-center ion-text-center">
    <h3>Dirección</h3>
  </div>

  <div class="row">
    <div class="col-6 p-4 pt-0 pe-2">
      <div class="card ion-button bg-primary">
        <div (click)="originSelector.open()" class="ion-text-center mt-4 mb-2">
          <ion-icon color="light" size="large" name="log-out"></ion-icon>
          <p class="text-light">{{ originDirection }}</p>
        </div>
      </div>

      <ion-select #originSelector [hidden]="true" [mode]="'ios'" (ionChange)="onOriginDismiss($event)" interface="action-sheet">
        <ion-select-option *ngFor="let direction of directions" [value]="direction.id">{{ direction.text }}</ion-select-option>
      </ion-select>
    </div>
    <div class="col-6 p-4 pt-0 pt-0 ps-2">
      <div class="card button bg-primary">
        <div (click)="destinationSelector.open()" class="ion-text-center mt-4 mb-2">
          <ion-icon color="light" size="large" name="log-in"></ion-icon>
          <p class="text-light">{{ destinationDirection }}</p>
        </div>
      </div>

      <ion-select #destinationSelector [hidden]="true" [mode]="'ios'" (ionChange)="onDestinationDismiss($event)" interface="action-sheet">
        <ion-select-option *ngFor="let direction of directions" [value]="direction.id">{{ direction.text }}</ion-select-option>
      </ion-select>
    </div>
  </div>

  <div class="row">
    <div class="col-6">

      <div class="row px-2">
        <div class="col text-center">
          Urbano:
        </div>
      </div>

      <div class="row px-3">

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="remove"></ion-icon>
          </div>

        </div>

        <div class="col text-center pt-1">
          {{ urbanCount }}
        </div>

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="add"></ion-icon>
          </div>

        </div>
      </div>
    </div>

    <div class="col-6">

      <div class="row px-2">
        <div class="col text-center">
          Sedán:
        </div>
      </div>

      <div class="row px-3">

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="remove"></ion-icon>
          </div>

        </div>

        <div class="col text-center pt-1">
          {{ urbanCount }}
        </div>

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="add"></ion-icon>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="row mt-4">
    <div class="col-6">

      <div class="row px-2">
        <div class="col text-center">
          Berlina:
        </div>
      </div>

      <div class="row px-3">

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="remove"></ion-icon>
          </div>

        </div>

        <div class="col text-center pt-1">
          {{ urbanCount }}
        </div>

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="add"></ion-icon>
          </div>

        </div>
      </div>
    </div>

    <div class="col-6">

      <div class="row px-2">
        <div class="col text-center">
          Hatchback:
        </div>
      </div>

      <div class="row px-3">

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="remove"></ion-icon>
          </div>

        </div>

        <div class="col text-center pt-1">
          {{ urbanCount }}
        </div>

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="add"></ion-icon>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="row mt-4">
    <div class="col-6">

      <div class="row px-2">
        <div class="col text-center">
          Cupé:
        </div>
      </div>

      <div class="row px-3">

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="remove"></ion-icon>
          </div>

        </div>

        <div class="col text-center pt-1">
          {{ urbanCount }}
        </div>

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="add"></ion-icon>
          </div>

        </div>
      </div>
    </div>

    <div class="col-6">

      <div class="row px-2">
        <div class="col text-center">
          Descapotable:
        </div>
      </div>

      <div class="row px-3">

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="remove"></ion-icon>
          </div>

        </div>

        <div class="col text-center pt-1">
          {{ urbanCount }}
        </div>

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="add"></ion-icon>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="row mt-4">
    <div class="col-6">

      <div class="row px-2">
        <div class="col text-center">
          Deportivo:
        </div>
      </div>

      <div class="row px-3">

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="remove"></ion-icon>
          </div>

        </div>

        <div class="col text-center pt-1">
          {{ urbanCount }}
        </div>

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="add"></ion-icon>
          </div>

        </div>
      </div>
    </div>

    <div class="col-6">

      <div class="row px-2">
        <div class="col text-center">
          Todoterreno:
        </div>
      </div>

      <div class="row px-3">

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="remove"></ion-icon>
          </div>

        </div>

        <div class="col text-center pt-1">
          {{ urbanCount }}
        </div>

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="add"></ion-icon>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="row mt-4">
    <div class="col-6">

      <div class="row px-2">
        <div class="col text-center">
          Monovolumen:
        </div>
      </div>

      <div class="row px-3">

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="remove"></ion-icon>
          </div>

        </div>

        <div class="col text-center pt-1">
          {{ urbanCount }}
        </div>

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="add"></ion-icon>
          </div>

        </div>
      </div>
    </div>

    <div class="col-6">

      <div class="row px-2">
        <div class="col text-center">
          SUV:
        </div>
      </div>

      <div class="row px-3">

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="remove"></ion-icon>
          </div>

        </div>

        <div class="col text-center pt-1">
          {{ urbanCount }}
        </div>

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="add"></ion-icon>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="row mt-4">
    <div class="col-6">

      <div class="row px-2">
        <div class="col text-center">
          Furgoneta:
        </div>
      </div>

      <div class="row px-3">

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="remove"></ion-icon>
          </div>

        </div>

        <div class="col text-center pt-1">
          {{ urbanCount }}
        </div>

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="add"></ion-icon>
          </div>

        </div>
      </div>
    </div>

    <div class="col-6">

      <div class="row px-2">
        <div class="col text-center">
          Pickup:
        </div>
      </div>

      <div class="row px-3">

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="remove"></ion-icon>
          </div>

        </div>

        <div class="col text-center pt-1">
          {{ urbanCount }}
        </div>

        <div class="col text-center">

          <div class="btn btn-primary">
            <ion-icon color="light" size="small" name="add"></ion-icon>
          </div>

        </div>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer>
  <div class="row p-2">
    <div class="col">
      <ion-button color="danger" expand="block" (click)="onCancel()">
        CANCELAR
      </ion-button>
    </div>
    <div class="col">
      <ion-button [disabled]="!canSubmit" expand="block" (click)="onSubmit()">
        {{submitButtonText}}
      </ion-button>
    </div>
  </div>
</ion-footer>
