<ion-app>

  <jeep-sqlite *ngIf="isWeb"></jeep-sqlite>

  <ion-router-outlet>
  </ion-router-outlet>

  <ion-tabs *ngIf="logged">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <i class="fa-solid fa-house fs-3"></i>
      </ion-tab-button>
      <ion-tab-button tab="auditory" (click)="onAuditoryList()">
        <i class="fa-solid fa-circle-check fs-3"></i>
      </ion-tab-button>
      <ion-tab-button tab="helmet" (click)="onHelmetList()">
        <i class="fa-solid fa-helmet-safety fs-3"></i>
      </ion-tab-button>
      <ion-tab-button tab="belt" (click)="onBeltList()">
        <i class="fa-solid fa-user-slash fs-3"></i>
      </ion-tab-button>
      <ion-tab-button tab="general" (click)="onGeneralCountList()">
        <i class="fa-solid fa-plus-minus fs-3"></i>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
