.custom-blue-btn {
  width: auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2CAFC0;
  color: #FFF;
  border: 1px solid white;
  border-radius: 20px;
  /* Adjust the border-radius to control the roundness */
  font-weight: normal;
  cursor: pointer;
}
