<ion-content class="scroll-content">
  <cdk-virtual-scroll-viewport #viewport itemSize="300" class="bg-white ">      </cdk-virtual-scroll-viewport>
  <div *ngIf="onScreen" class="custom-background white-bg">


    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 col-xxl-3 offset-xxl-auto mr-auto mb-4">

      <div class="mx-5">

        <div class="row mt-0mb-0">
          <div class="col text-center">
            <img height="200px" src="../../../../assets/img/REFLEACCIONA_logotipo-01.png">
          </div>
        </div>


        <div class="row mt-0">
          <div class="col">
            <h3 class="text text-white">Inicio de sesión</h3>


          </div>
        </div>
      </div>




      <form (ngSubmit)="onLogin(formLogin)" #formLogin="ngForm">

        <div class="container-fluid d-flex flex-column vh-100 m-0 p-0">
          <div class="row m-0 p-0 flex-grow-1">
            <div class="col m-0 p-0">

              <div class="card border-0 rounded-5 p-4">

                <div class=" mx-2 mt-2">

                    <div class="input-with-icon">

                      <input
                                  name="email"
                                  type="email"
                                  #email="ngModel"
                                  [(ngModel)]="user.email"
                                  placeholder="Correo"
                                  class="form-control py-3 px-4"
                                  required
                                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">

                                  <i class="fa-solid fa-envelope"></i>
                    </div>



                      <div class="input-with-icon mt-3">

                        <input
                                    type="password"
                                    name="password"
                                    #password="ngModel"
                                    [(ngModel)]="user.password"
                                    required
                                      placeholder="Contraseña"
                                  class="form-control py-3 px-4">

                        <i class="fa-solid fa-lock"></i>

                      </div>
                      <div class="d-flex flex-row-reverse mt-3" (click)="onRecuperar()">
                        <label class="forgot-password-color text text-mini">¿Olvidaste tu contraseña? </label>
                      </div>
                </div>

                <div class="row my-3"></div>
                <!-- <div class="row my-5"></div> -->

                <ion-row class="mt-3">
                  <!-- <ion-col>
                    <button class="btn btn-primary custom-btn" (click)="onRegistrar()">REGISTRARME</button>
                  </ion-col> -->

                  <ion-col>
                    <button [disabled]="disableLoginButton" class="btn btn-primary custom-btn" type="submit">
                      {{txtButtonEnter}}
                    </button>
                  </ion-col>
                </ion-row>

                <ion-row class="mt-2">
                  <ion-col class="text-center">
                    <label (click)="onRegistrar()" class="forgot-password-color text text-mini">¿No tienes cuenta?. <strong><u class="mt-3">REGISTRATE</u></strong></label>
                  </ion-col>
                </ion-row>

                <div class="row mt-5 mb-2"></div>

                <ion-row>
                  <ion-col>
                    <p class="forgot-password-color text text-mini ion-text-justify">Bienvenido a la App para evaluar calles y sus elementos, el uso de casco en motociclistas, el uso de cinturón de seguridad y el conteo de tipo de vehículos. Esta es una app gratuita desarrollada por Refleacciona con Responsabilidad A.C. en conjunto con el Global Road Safety Partnership (GRSP).</p>
                    <p class="forgot-password-color text text-mini ion-text-justify">Consulta nuestro Aviso de Privacidad <a href="https://www.refleacciona.org/mx/privacidad/">Aquí</a></p>
                  </ion-col>
                </ion-row>

                <ion-row class="mt-0">
                  <!-- <ion-col>
                    <button class="btn btn-primary custom-btn" (click)="onRegistrar()">REGISTRARME</button>
                  </ion-col> -->

                  <ion-col class="white-bg">
                    <button (click)="modal.present()" class="btn btn-primary custom-btn" type="button">
                      Instrucciones
                    </button>


                  </ion-col>
                </ion-row>

            <!-- <p class="text text-mini text-white">Instrucciones de uso:</p>
            <p class="text text-mini text-white">
              1. Escoger el módulo a llenar, completar con la ubicación deseada, fotografía para documentar el estado de las calles cuando aplique.

            </p>
            <p class="text text-mini text-white">
              2. Una vez llenado podrás descargar tu reporte.

            </p>
            <p class="text text-mini text-white">
              3. Si no tienes datos, podrás descargar los reportes cuando te conectes por WiFi.


            </p>
            <p class="text text-mini text-white">
              ¡Gracias por contribuir a tener calles más seguras!


            </p>
            <p class="text text-mini text-white">
              <a href=""></a>Consulta nuestro Aviso de Privacidad en https://www.refleacciona.org/mx/privacidad/
            </p> -->

                <div class="row my-5"></div>

                <div class="row my-5"></div>


              </div>
            </div>
          </div>

        </div>




      </form>
    </div>
  </div>

  <ion-modal
      #modal
      [initialBreakpoint]="1"
      [mode]="'ios'"
    >
      <ng-template>
        <div class="p-3">
          <!-- <div class="pt-5"> -->
            <div class="text-center h5">
              Instrucciones de uso:
            </div>

            <p class="white-bg text ion-text-justify">1. Escoger el módulo a llenar, completar con la ubicación deseada, fotografía para documentar el estado de las calles cuando aplique.</p>
            <p class="text ion-text-justify">2. Una vez llenado podrás descargar tu reporte.</p>
            <p class="text ion-text-justify">3. Si no tienes datos, podrás descargar los reportes cuando te conectes por WiFi.</p>

            <p class="text ion-text-justify">¡Gracias por contribuir a tener calles más seguras!</p>



            <div class="text-center mt-2 d-grid gap-2">
              <button
                class="btn custom-btn"
                (click)="modal.dismiss()"
              >Cerrar</button>
            </div>
          <!-- </div> -->
        </div>
      </ng-template>
    </ion-modal>
</ion-content>
