
<ion-content class="center">
  <div class="row mt-2 mx-0">
    <div class="col text-end">
      <ion-button id="click-trigger" size="small">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
      <ion-popover trigger="click-trigger" [dismissOnSelect]="true" triggerAction="click">
        <ng-template>
          <ion-content>
            <ion-list lines="none">
              <ion-item button (click)="onOpenUser()">
                <ion-label>Usuario</ion-label>
              </ion-item>
              <ion-item button (click)="onFetchUpdate(true)">
                <ion-label>Buscar actualización</ion-label>
              </ion-item>
              <ion-item button (click)="onLogout()">
                <ion-label>Salir</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>
  </div>

  <div class="col-md-6 col-xl-12 mr-auto mb-4 mt-4">
    <h1>Módulos</h1>
    <!-- <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Creado: 03 de Enero 2023</ion-card-subtitle>
        <ion-card-title><strong>Auditoria</strong></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Una pequeña descripción de este tipo de Encuenta
      </ion-card-content>
      <ion-button shape="round">Nueva</ion-button>
      <ion-button fill="clear">Ver &nbsp;<ion-badge color="warning" slot="end" >4</ion-badge></ion-button>
    </ion-card> -->
    <ion-card>
      <ion-card-header>

        <div class="row">
          <div class="col">
            <ion-card-title class="mt-2"><strong>Auditorias</strong></ion-card-title>
          </div>
          <div class="col text-end">

            <ion-button (click)="onNewAuditory()">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>

            <ion-button (click)="onAuditoryList()" *ngIf="auditoriesCount === 0" fill="outline" >Ver</ion-button>
            <ion-button (click)="onAuditoryList()" *ngIf="auditoriesCount > 0" fill="outline" >Ver &nbsp;<ion-badge color="primary" slot="end" >{{ auditoriesCount }}</ion-badge></ion-button>

          </div>
        </div>


      </ion-card-header>
      <!-- <ion-card-content>
        Esta encuesta contiene información de primera mano
      </ion-card-content> -->
    </ion-card>

    <ion-card>
      <ion-card-header>
        <div class="row">
          <div class="col">
            <ion-card-title class="mt-2"><strong>Cascos</strong></ion-card-title>
          </div>

          <div class="col text-end">

            <ion-button (click)="onNewHelmet()">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>

            <ion-button fill="outline" (click)="onHelmetList()">Ver</ion-button>


          </div>
        </div>
      </ion-card-header>
      <!-- <ion-card-content>
        Esta encuesta contiene información de primera mano
      </ion-card-content> -->
    </ion-card>


    <ion-card>
      <ion-card-header>
        <div class="row">
          <div class="col">
            <ion-card-title class="mt-2"><strong>Cinturones</strong></ion-card-title>
          </div>

          <div class="col text-end">
            <ion-button (click)="onNewBelt()">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>

            <ion-button fill="outline" (click)="onBeltList()">Ver</ion-button>
          </div>
        </div>
      </ion-card-header>
      <!-- <ion-card-content>
        Esta encuesta contiene información de primera mano
      </ion-card-content> -->
    </ion-card>

    <ion-card>
      <ion-card-header>
        <div class="row">
          <div class="col">
            <ion-card-title class="mt-2"><strong>Conteo General</strong></ion-card-title>
          </div>

          <div class="col text-end">
            <ion-button (click)="onNewGeneralCount()">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>

            <ion-button fill="outline" (click)="onGeneralCountList()">Ver</ion-button>
          </div>
        </div>
      </ion-card-header>
      <!-- <ion-card-content>
        Esta encuesta contiene información de primera mano
      </ion-card-content> -->
    </ion-card>



  </div>
</ion-content>
