<ion-content >
  <app-header-buttons
    backUrl="/home"
    homeUrl="/home"
  ></app-header-buttons>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="mx-2 mt-4">
      <h1>{{formActionText}} Auditoría</h1>

      <ion-item class="mt-4 txtInput">
        <ion-label position="floating">*Título</ion-label>
        <ion-input
          [clearInput]="true"
          formControlName="title"
          type="text"
          placeholder="Escriba un título"
        ></ion-input>
      </ion-item>

      <ion-item class="mt-2 txtInput">
        <ion-label position="floating">Fecha</ion-label>
        <ion-input
          [clearInput]="true"
          formControlName="date"
          type="date"
          placeholder="Escriba el sentido"
        ></ion-input>
      </ion-item>

      <ion-item class="mt-2 txtInput mb-2">
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea
          formControlName="description"
          type="text"
          placeholder="Agregue una descripción"
        ></ion-textarea>
      </ion-item>

      <ion-input
        formControlName="lat"
        type="hidden"
        hidden
      ></ion-input>

      <ion-input
        formControlName="lng"
        type="hidden"
        hidden
      ></ion-input>

      <app-map></app-map>

      <ion-button expand="full" color="light" class="mt-2" (click)="onAddLocation()">UBICACIÓN ACTUAL</ion-button>
      <!-- <ion-button class="btn-right" (click)="onAddPhoto()">FOTOS</ion-button> -->
      <ion-button class="btn-right" fill="clear" size="small" (click)="onAddPhoto()">
        <ion-icon class="icon-color" slot="icon-only" name="image-outline"></ion-icon>
      </ion-button>

      <ion-row *ngIf="ImageSrc" class="mt-2">
        <ion-col *ngFor="let img of ImageSrc">
          <ion-img [src]="img"></ion-img>
        </ion-col>
      </ion-row>

      <div class="row mt-5">
        <div class="col">
          <ion-button color="danger" expand="full" (click)="onGoingHome()">
            CANCELAR
          </ion-button>
        </div>
        <div class="col">
          <ion-button [disabled]="submitLoading" expand="full"type="submit">
            {{SubmitButtonText}}
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!submitLoading"></span>
          </ion-button>
        </div>
      </div>

    </div>
  </form>
</ion-content>
