<ion-content >
  <app-header-buttons
    [addUrl]="'auditory-form/00'"
    [backUrl]="'/home'"
  ></app-header-buttons>

  <div class="mx-2 mt-2">
    <h1>Auditorías</h1>

    <div class="text-center" *ngIf="auditories.length === 0">
      <h4 class="mt-2" >Sin auditorías</h4>
      <ion-button (click)="onNewAuditory()">Iniciar una nueva</ion-button>
    </div>

    <ion-item *ngFor="let aud of auditories" class="mt-2 txtInput">
      <ion-label>
        <h2 class="text-start">Título: {{ aud.title }}</h2>
        <p>Fecha: {{ aud.date }}</p>
      </ion-label>

      <ion-button (click)="presentActionSheetOptions(aud.id)" slot="end" size="small">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

</ion-content>
