<ion-content class="center">

  <app-header-buttons
    backUrl="/recover"
    homeUrl="/login"
  ></app-header-buttons>

  <div class="principal col-md-6 col-xl-12 mr-auto mb-4">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="card-body mx-2 mt-2">
          <h1>Cambio de contraseña</h1>

          <p class="text-center">Se envió un código a tu correo electrónico</p>


        <div class="row px-5">
          <div class="col px-1">
            <input type="tel" maxlength="1" formControlName="code1" #i1 (click)="setInputFocus(i1)" (keyup)="$event.key === 'Backspace' ? true : setInputFocus(i2)" class="form-control text-center">
          </div>
          <div class="col px-1">
            <input type="tel" maxlength="1" formControlName="code2" #i2 (click)="setInputFocus(i2)" (keyup)="$event.key === 'Backspace' ? setInputFocus(i1) : setInputFocus(i3)" class="form-control text-center">
          </div>
          <div class="col px-1">
            <input type="tel" maxlength="1" formControlName="code3" #i3 (click)="setInputFocus(i3)" (keyup)="$event.key === 'Backspace' ? setInputFocus(i2) : setInputFocus(i4)" class="form-control text-center">
          </div>
          <div class="col px-1">
            <input type="tel" maxlength="1" formControlName="code4" #i4 (click)="setInputFocus(i4)" (keyup)="$event.key === 'Backspace' ? setInputFocus(i3) : setInputFocus(i5)" class="form-control text-center">
          </div>
          <div class="col px-1">
            <input type="tel" maxlength="1" formControlName="code5" #i5 (click)="setInputFocus(i5)" (keyup)="$event.key === 'Backspace' ? setInputFocus(i4) : setInputFocus(i6)" class="form-control text-center">
          </div>
          <div class="col px-1">
            <input type="tel" maxlength="1" formControlName="code6" #i6 (click)="setInputFocus(i6)" (keyup)="$event.key === 'Backspace' ? setInputFocus(i5) : setInputFocus(password)" class="form-control text-center">
          </div>
        </div>

        <ion-item class="mt-4 txtInput">

          <ion-label position="floating">*Nueva Contraseña</ion-label>

          <ion-input
            #password
            [clearInput]="true"
            type="password"
            formControlName="password"
            placeholder="********"
          ></ion-input>

        </ion-item>

        <ion-item [hidden]="!showEmail" class="mt-4 txtInput">

          <ion-label position="floating">*Correo</ion-label>

          <ion-input
            [clearInput]="true"
            type="email"
            formControlName="email"
            placeholder="email@domain.com"
          ></ion-input>

        </ion-item>

        <div *ngIf="!showEmail" class="d-flex flex-row-reverse mt-3 me-3">
          <ion-label color="tertiary txt-pwd" (click)="showEmail = true">Ya tengo un código</ion-label>
        </div>

        <div class="row mt-5">
          <div class="col">
            <ion-button color="danger" expand="full" (click)="onGoingHome()">
              CANCELAR
            </ion-button>
          </div>
          <div class="col">
            <ion-button [disabled]="submitLoading" expand="full"type="submit">
              RESTABLECER
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!submitLoading"></span>
            </ion-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>
