ion-content {
  --ion-background-color: white;
  background-color: white;
}

.custom-gray-btn {
  width: auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #636363;
  color: #FFF;
  border: 1px solid white;
  border-radius: 20px;
  /* Adjust the border-radius to control the roundness */
  font-weight: normal;
  cursor: pointer;
}
