<ion-content class="m-0 p-0" *ngIf="onScreen">
  <app-generic-list
    [title]="'Auditoría'"
    [descrciption]="'Cuestionario para evaluar los parámetros de calidad, seguridad y comodidad de una calle.'"
    [type]="0"
    [listObservable]="listObservable"
    [create]="onNewAuditory"
    [editGeneral]="onEdit"
    [editValues]="onEditAnswers"
    [delete]="onDelete"
    [detail]="onRemoteDetail"
    [upload]="onUpload"
  ></app-generic-list>
</ion-content>

<ion-footer class="bg-white">
  <ion-row>
    <ion-col >
      <button class="btn custom-black-btn" [disabled]="!sendedList" (click)="fetchLocalList()">Sin Enviar</button>
    </ion-col>

    <ion-col>
      <button class="btn custom-black-btn" [disabled]="sendedList" (click)="fetchRemoteList()">Enviadas</button>
    </ion-col>
  </ion-row>
</ion-footer>
